<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create New Vault</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" >Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>
      <ion-item>
       <ion-label position="floating">Name Your Vault</ion-label>
        <ion-input type="text" [(ngModel)]="createVault.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Web Address</ion-label>
        <ion-input type="text" [(ngModel)]="createVault.vaultname" name="vaultname"></ion-input>
      </ion-item>	  
      <ion-item>
        <ion-label>File Type</ion-label>
        <ion-select [(ngModel)]="createVault.file_type" name="file-type" >
          <ion-select-option value="image">Images</ion-select-option>
          <ion-select-option value="mp4">Videos</ion-select-option>
          <ion-select-option value="mp3">Audios</ion-select-option>
          <ion-select-option value="files">Documents</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button color="primary" fill="outline" shape="round" expand="block" size="default" *ngIf="!checkValid()" disabled class="ion-no-padding" > Create Vault</ion-button>
        <ion-button color="primary" fill="outline" shape="round" expand="block" size="default" *ngIf="checkValid()" (click)="createNewVault()" class="ion-no-padding">Create Vault</ion-button>
      </ion-item>	
    </ion-list>
</ion-content>
