<ion-header>
  <ion-toolbar color="primary">
		<ion-back-button slot="start"></ion-back-button>
    <ion-title>Privacy Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
		  <ion-label>Chat</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_chat_enabled">
			<ion-select-option value="1">Online</ion-select-option>
			<ion-select-option value="0">Offline</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can post on your wall</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_wall">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your birthdate</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_birthdate">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your relationship</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_relationship">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your basic info</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_basic">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your work info</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_work">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your location info</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_location">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your education info</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_education">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your other info</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_other">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your friends</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_friends">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your photos</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_photos">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your liked pages</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_pages">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your joined groups</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_groups">
			  <ion-select-option value="public">Everyone</ion-select-option>
		  	<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>Who can see your joined events</ion-label>
		  <ion-select [(ngModel)]="privacySettings.user_privacy_events">
			<ion-select-option value="public">Everyone</ion-select-option>
			<ion-select-option value="friends">Friends</ion-select-option>
			<ion-select-option value="me">Only Me</ion-select-option>
		  </ion-select>
		</ion-item>		
	</ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="saveChanges();">Save Changes</ion-button>
</ion-footer>
